<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">

    <title>销售人员提交数据</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="all">
    <!--<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" href="data:;base64,=">
</head>


<body>
<!--回到顶部-->
<div class="t-right-bar" id="back-top">
</div>


<h4>销售人员每周提交数据表</h4>
{{.level}}
<form class="" id="form1" onsubmit="return false" action="##" method="post" style="background-color: transparent;">
    <div class="form-group">
        楼栋数： <input class="form-control input-sm" type="text" name="loudongshu" required size="1"/>
        单元数： <input class="form-control input-sm" type="text" name="danyuanshu" required size="1"/>
    </div>
</form>


<form class="form-inline" id="form2" onsubmit="return false" action="##" method="post"
      style="background-color: transparent;">
    <div class="form-group">
        <label>住户数：</label>
        <input class="form-control input-sm" type="number" name="zhuhushu" required size="1"/>
    </div>
    <div class="form-group">
        <label class="sr-only">自住数：</label>
        <div class="input-group">
            <div class="input-group-addon">自住数：</div>
            <input class="form-control input-sm" type="number" name="zizhushu" required size="1"/>
        </div>
    </div>
    <div class="form-group">
        <label class="sr-only">出租数：</label>
        <div class="input-group">
            <div class="input-group-addon">出租数：</div>
            <input class="form-control input-sm" type="number" name="chuzushu" required size="1"/>
        </div>
    </div>
</form>


<form class="form-inline" id="form3" onsubmit="return false" action="##" method="post"
      style="background-color: transparent;">
    <label>装修数/周：</label>
    <br/>
    <div class="form-group">
        <label class="sr-only">第1周：</label>
        <div class="input-group">
            <div class="input-group-addon">第1周：</div>
            <input class="form-control input-sm" type="number" name="week1" required size="1"/>
        </div>
    </div>
    <div class="form-group">
        <label class="sr-only">第2周：</label>
        <div class="input-group">
            <div class="input-group-addon">第2周：</div>
            <input class="form-control input-sm" type="number" name="week2" required size="1"/>
        </div>
    </div>
    <div class="form-group">
        <label class="sr-only">第3周：</label>
        <div class="input-group">
            <div class="input-group-addon">第3周：</div>
            <input class="form-control input-sm" type="number" name="chuzushu" required size="1"/>
        </div>
    </div>
    <div class="form-group">
        <label class="sr-only">第4周：</label>
        <div class="input-group">
            <div class="input-group-addon">第4周：</div>
            <input class="form-control input-sm" type="number" name="chuzushu" required size="1"/>
        </div>
    </div>
    <div class="form-group">
        <label class="sr-only">第5周：</label>
        <div class="input-group">
            <div class="input-group-addon">第5周：</div>
            <input class="form-control input-sm" type="number" name="chuzushu" required size="1"/>
        </div>
    </div>
    <div class="form-group">
        <label class="sr-only">第6周：</label>
        <div class="input-group">
            <div class="input-group-addon">第6周：</div>
            <input class="form-control input-sm" type="number" name="chuzushu" required size="1"/>
        </div>
    </div>
    <div class="form-group">
        <label class="sr-only">第7周：</label>
        <div class="input-group">
            <div class="input-group-addon">第7周：</div>
            <input class="form-control input-sm" type="number" name="chuzushu" required size="1"/>
        </div>
    </div>
    <div class="form-group">
        <label class="sr-only">第8周：</label>
        <div class="input-group">
            <div class="input-group-addon">第8周：</div>
            <input class="form-control input-sm" type="number" name="chuzushu" required size="1"/>
        </div>
    </div>
    <div class="form-group">
        <label class="sr-only">第9周：</label>
        <div class="input-group">
            <div class="input-group-addon">第9周：</div>
            <input class="form-control input-sm" type="number" name="chuzushu" required size="1"/>
        </div>
    </div>
    <div class="form-group">
        <label class="sr-only">第10周：</label>
        <div class="input-group">
            <div class="input-group-addon">第10周：</div>
            <input class="form-control input-sm" type="number" name="chuzushu" required size="1"/>
        </div>
    </div>
    <div class="form-group">
        <label class="sr-only">第11周：</label>
        <div class="input-group">
            <div class="input-group-addon">第11周：</div>
            <input class="form-control input-sm" type="number" name="chuzushu" required size="1"/>
        </div>
    </div>
    <div class="form-group">
        <label class="sr-only">第12周：</label>
        <div class="input-group">
            <div class="input-group-addon">第12周：</div>
            <input class="form-control input-sm" type="number" name="chuzushu" required size="1"/>
        </div>
    </div>
</form>
<button class="btn" type="button" onclick="xsSubmit()" style="color: black">提交</button>


<!-- load JS files -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/xs.js"></script>


<script>
    $(".t-right-bar").hide();
    $(function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() > 100) {
                $(".t-right-bar").fadeIn(500);
            } else {
                $(".t-right-bar").fadeOut(500);
            }
        });
        $("#back-top").click(function () {
            $('body,html').animate({scrollTop: 0}, 100);
            return false;
        });
    });
</script>

</body>
</html>