<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
    {{template "head.html".}}
</head>
<body>
<div>

    {{template "header.html" .}}

    <div id="wrap">
        <div class="container">
            <div class="col-sm-3">
                <h3><a href="{{.u.Url}}">{{.u.Nick}}</a></h3>
                <pre>{{.u.Info}}</pre>

                <table class="table">
                    <tr>
                        <td>粉丝</td>
                        <td>关注</td>
                    </tr>
                    <tr>
                        <td>{{.u.Followers}}</td>
                        <td>{{.u.Following}}</td>
                    </tr>
                </table>
                <h4>Hobby</h4>
                <div>
                    {{$hobbys :=  split .u.Hobby "," }}
                    {{range $hobbys}}
                    <a class="btn btn-xs btn-success">{{.}}</a>
                    {{end}}
                </div>
            </div>

            <div class="col-sm-9">
                {{range $index,$value:=.articles}}

                <div>
                    <h2><a href="/article/{{$value.Id}}">{{$value.Title}}</a></h2>

                    <div>
                        <p>
                            <span>{{$value.Time}}</span>

                            {{ if $.user}}
                            {{if eq $value.Author.Id $.user.Id}}
                            <span class="pull-right">
								<a href="/article/edit/{{$value.Id}}">编辑</a>
								<a href="/article/del/{{$value.Id}}">删除</a>
							</span>
                            {{end}}
                            {{end}}
                        </p>
                    </div>

                    <div>
                        <pre>{{$value.Content}}</pre>
                    </div>
                </div>
                {{end}}
            </div>
        </div>

    </div>
</body>
</html>