<!DOCTYPE html>
<html>
<head>
	<title>{{.article.Title}}</title>
	{{template "head.html" .}}
</head>
<body>

{{template "header.html" .}}

<div id="wrap">
	<div  class="container">
		<div class="col-sm-7">
			<h2>{{.article.Title}}</h2>
			<p>
				<span>作者：<a href="{{.article.Author.Id}}">{{.article.Author.Nick}}</a></span>
				<span>
					发布时间：{{.article.Time}}
				</span>
			</p>
			<div>
				<pre>{{.article.Content}}</pre>
			</div>
		</div>

		<h4>文本标签</h4>
{{range .article.Tags}}
		<a href="/archive?tag={{.Name}}" class="btn btn-{{.RandColor}} btn-xs">{{.Name}}</a>
		{{end}}
	</div>
</div>

</body>
</html>