<!DOCTYPE html>
<html>
<head>
	<title>New</title>
	{{template "head.html" .}}
</head>
<body>

{{template "header.html" .}}

<div id="wrap">
	<div  class="container">
		<div class="col-sm-7">
			<form method="post">
				<input name="title" class="form-control" placeholder="请输入标题">
				<br>
				<textarea name="content" class="form-control" rows="20" placeholder="请输入正文"></textarea>
				<br>
				<input class="btn btn-default" type="submit">
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
$('form').bind('submit', function(){
	var tmp = ajaxSubmit(this, function(){
		if ( tmp.responseJSON.success == true ){
			alert("成功")
			location.href='/article/'+tmp.responseJSON.content
		}else{
			alert(tmp.responseJSON.content)
		}
	})
	return false;
})
</script>

</body>
</html>